html, body
{
    height: 100%;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

main
{
    padding: 40px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

canvas
{
    height: 100%;
    width: 100%;
    cursor: crosshair;
    background-color: pink;
}

footer
{
    height: 80px;
    width: 100%;
    bottom: 0px;
    /* border-top: 1px solid var(--vscode-editorWidget-border); */
    background-color: var(--vscode-editorWidget-background);
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.05);
}